html,
body {
	margin: 0;
	padding: 0;
}

.bx-wrapper .bx-caption span {
	font-size: 24px !important;
}

.bxslider li a {
	cursor: help;
}

.bxslider li img {
	transition: all 0.3s;
}

.bxslider li a:hover img {
	-moz-transform: scale(1.1);
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
}

.page-scroll.dark-version {
	border-color: #000000;
	color: #000000;
}

.banner-social-buttons li {
	margin-bottom: 15px;
}

.heart {
	color: #f00;
}

.logo {
	max-width: 300px;
	width: 100%;
}

@media(max-width:768px) {
	.content-section img {
		width: 98%;
	}
}

video::-internal-media-controls-download-button {
	display:none;
}

video::-webkit-media-controls-enclosure {
	overflow:hidden;
}

video::-webkit-media-controls-panel {
	width: calc(100% + 30px); /* Adjust as needed */
}
